<div class="container">
  <div class="vending">
    <div class="sign">
      <p>Drink Hacker Cola</p>
    </div>
    <div class="input">
      <p>Please Enter 75 cents</p>
      <div>
        <button>Nickel</button>
        <button>Dime</button>
        <button>Quarter</button>
      </div>
      <div>
        <button style="background-color: #BBFFBB">Purchase</button>
      </div>
      <br/>
      <div class="output">
        <p>Enjoy your Hacker Cola.</p>
        <p>Your change is 15 cents.</p>
      </div>
    </div>
  </div>
</div>
