<html>
  <head>
    <title>Hacker Cola</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>
  <body>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
